html,body{
  min-height: 100vh;
}
.App {
  /* min-height:100vh; */
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
}

.header{
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding:0rem 2.5rem;
  min-height:10vh;
  background-color: #96e8bc;
}

.header h1{
  margin: 0;
  font-size: 2.5rem;
}

.main{
  min-height: 80vh;
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color:#C9FFE2;
}

.instruction-container{
  align-self: flex-end;
  margin:2rem 2.5rem 0 0;
  width:12rem;
}

.instructions-button-toggle{
  
}

.card-display-holder{
  width:100%;
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(150px, 200px));
  justify-content: center;
  gap: 1.5rem;
  margin:1.5rem 0;
  
}

.level-buttons{
  display:flex;
  column-gap: 1.5rem;
  margin-bottom:1.5rem;
}

.footer{
  display:flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 10vh;
  background-color: #96e8bc;
}

