html,body{
  min-height: 100vh;
}
.App {
  /* min-height:100vh; */
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
}

.header{
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding:0rem 2.5rem;
  min-height:10vh;
  background-color: rgb(80, 228, 159);
}

.header h1{
  margin: 0;
  font-size: 2.5rem;
}

.main{
  min-height: 80vh;
  display:flex;
  flex-flow: column nowrap;

  background-color:green;
}

.instruction-container{
  align-self: flex-end;
  margin:2rem 2.5rem 0 0;
  width:12rem;
}

.instructions-button-toggle{
  
}

.footer{
  display:flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 10vh;
  background-color: rgb(80, 228, 159);
}

