.App {
  height:100vh;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.header{
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding:1rem 2.5rem;

  background-color: rgb(80, 228, 159);
}

.header h1{
  margin: 0;
  font-size: 2.5rem;
}

.main{
  height:100%;
  display:flex;
  flex-flow: column nowrap;
  padding-top:2rem;

  background-color:green;
}

.instruction-container{
  align-self: flex-end;
  margin:0 2.5rem 0 0;
  width:12rem;
}

.instructions-button-toggle{
  
}

.footer{
  display:flex;
  flex-flow: column nowrap;
  background-color: rgb(80, 228, 159);
}

